@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Roboto, Arial, sans-serif;
    height: 100vh;
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100%;
    background-color: #6a6464;
    position: relative;
}

.split {
    position: absolute;
    height: 100%;
    width: 50%;
    overflow: hidden;
}

.left {
    left: 0;
    background-image: url(./img/ps.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 1s ease-in-out;
}

.left::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(87, 84, 236, 0.7);
}

h2 {
    white-space: nowrap;
    position: absolute;
    font-size: 60px;
    color: white;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
}

.hover__left .left {
    width: 75%;
}

.hover__left .right {
    width: 25%;
}

.hover__right .left {
    width: 25%;
}

.hover__right .right {
    width: 75%;
}

.left .btn:hover {
    background-color: #4418dc;
    border-color: #4418dc;
}

.right .btn:hover {
    background-color: #06aa06;
    border-color: #06aa06;
}

.btn {
    text-decoration: none;
    top: 40%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-weight: 600;
    font-size: 18px;
    border: 3px solid white;
    padding: 20px 80px;
}

.right::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(43, 43, 43, 0.7);
}

.right {
    right: 0;
    background-image: url(./img/xbox.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    transition: all 1s ease-in-out;
}