@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Muli", sans-serif;
    height: 100vh;
    overflow: hidden;
}

.container {
    display: flex;
    height: 100vh;
    padding: 10vh;
}

.container .panel {
    margin: 0 10px;
    border-radius: 50px;
    flex: 0.5;
    position: relative;
    transition: flex 0.7s ease-in-out;
}

.panel h3 {
    left: 20px;
    position: absolute;
    bottom: 20px;
    color: white;
    font-size: 24px;
    opacity: 0;
    transition: opacity 0.3s ease-in 0.4s;
}

.panel.active {
    flex: 5;
    background-repeat: no-repeat;
    background-position: center;
}

.panel.active h3 {
    opacity: 1;
}